@model Apis.Areas.Api_Pokemon.ViewModels.PokemonViewModels

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <img height="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png" />
        </div>
        @foreach (var item in Model.Pokemon)
        {
            <div class="col-md-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body tamanio-card pointer d-flex align-items-center justify-content-center" style="background-color:@item.ColorCards">
                        <a class="nav-link" asp-area="Api_Pokemon" asp-controller="Pokemon" asp-action="Pokemon" asp-route-id="@item.Id">
                            <img src="@item.Imagen" class="card-img-top img-fluid tamaio-img" alt="...">
                        </a>

                    </div>
                    <div class="card-footer bg-white">
                        @*<h5 class="card-title mb-0">@item.Id</h5>*@
                        <h5 class="card-title mb-0 d-inline-block mt-1" style="text-transform: capitalize;">@item.Nombre</h5>
                        <h3 class="d-inline-block float-right pointer @item.Id" onclick="AddToFavorite(@item.Id)" onmouseover="mouseOver(@item.Id,'@item.ColorCards')" onmouseout="mouseOut(@item.Id)">
                            
                            <i class="bi bi-heart"></i>
                        </h3>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

<!--Notificacion toasts-->
<button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

<div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="8000">
        <div class="toast-header">
            <i class="bi bi-star"></i>
            <strong class="mr-auto">&nbsp; Add to my favorites &nbsp;</strong>
            <small>just now</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            <p class="NotificationAddPokemon"></p>            
        </div>
    </div>
</div>

<!--Paginador-->
<div class="container">

    @{Html.RenderPartial("_paginador", Model);}
</div>

<style>

    a.nav1 {
        text-decoration: none;
        color: #141313;
    }

    a.nav2 {
        text-decoration: none;
    }

    .disabled span .nav1 {
        color: #949393;
    }

    .tamanio-card {
        height: 250px;
    }

    .tamaio-img {
        max-height: 200px;
    }

        .tamaio-img:hover {
            -ms-transform: scale(1.4);
            -webkit-transform: scale(1.4);
            transform: scale(1.4);
        }

    .pointer {
        cursor: pointer;
    }

    .bi-heart:hover {
    }
</style>

@section Scripts {

    <script>
        
        function mouseOver(id, color) {
            $("." + id).css("color", color);
        }

        function mouseOut(id) {
            $("." + id).css("color", "#1f1f1f");
        }

        function AddToFavorite(PokemonId) {
            
            let data = new FormData();
            data.append('Id', PokemonId);

            fetch("@Url.Content("~/Pokemon/AgregarAFavorito")", {
                method: 'POST',
                body: data
            }).then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            }).then(function (data) {
                if (data == 1) {
                    $('.NotificationAddPokemon').html("Pokemon added successfully.");
                    $('#liveToast').toast('show');
                    location.reload(true);
                } else {
                    $('.NotificationAddPokemon').html("The pokemon already exists in my favorites.");
                    $('#liveToast').toast('show');
                }
            });
        }

        


    </script>
}
